---
title: false
styles: true
---

@import "alembic";

a {
color: #003066;
}

a:active {
 color: #0000CC;
}

a:hover {
 color: #FFC21B;
}

.typeset h1 {
 color: #003366;
 font-size:2rem;
}

.typeset h2 {
 color: #003366;
 font-size:1.8rem; 
}

.typeset h3 {
 color: #003366;
  font-size:1.6rem;
}

.typeset h4 {
 color: #003366;
  font-size:1.4rem;
}

.typeset h5 {
 color: #003366;
  font-size:1.2rem;
}

.typeset h6 {
 color: #003366;
 font-size:1.0rem;
}

.typeset p {
  line-height: 1.8rem;
}

.footer {
	background: #dee0e2;
	text-color: #3d3d3d;
}

.feature {
	max-height: 120px;
}
.aside {
	max-width:20%;
}

.typeset p a,.typeset li a {
 background-image:linear-gradient(to bottom, transparent 50%, #fab700 50%);
}
h1 {
 font-size:2rem;
}
h2 {
 font-size:1.8rem;
}
h3 {
 font-size:1.6rem;
}
h4 {
 font-size:1.4rem;
}
h5 {
 font-size:1.2rem;
}
h6 {
 font-size:1.0rem;
}

.aside {
	opacity: 1;
}